.AdminCard {
  padding-top: 100px;
  padding-bottom: 100px;
  &__title {
    font-size: 50px;
  }
  &__text {
    width: 100%;
    margin-top: 50px;
    font-size: 18px;
  }
  &__btn {
    margin-top: 100px;
    padding: 10px 50px;
    font-size: 18px;
    background-color: blue;
    border-radius: 5px;
    border: none;
    color: #fff;
  }
}